<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>

</head>

<body>
  <div class="home">
  </div>


  <!--<script src="../node_modules/jquery/dist/jquery.min.js"></script>-->
  <script src="../script/lib/jquery-1.8.3.js"></script>
  <script src="../script/common.js"></script>
  <script src="../script/component.js"></script>

  <script type="text/javascript" src="http://localhost:8889/dist/home.bundle.js"></script>
  <script src="http://localhost:8889/webpack-dev-server.js"></script>

  <!--<script type="text/javascript" src="../dist/home.bundle.js"></script>-->
</body>

</html>