<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>

</head>

<body>
  <div class="home">
    <div class="header_">
      loading...
    </div>
    <div class="body_">
      <div class="info_">loading...</div>
      <div class="entries_">loading....</div>
    </div>
    <div class="footer_">
      loading...
    </div>
  </div>


  <!--<script src="../script/lib/jquery-1.8.3.js"></script>
  <script src="../node_modules/es5-shim/es5-shim.js"></script>
  <script src="../node_modules/es5-shim/es5-sham.js"></script>-->
  <!--<script src="../script/common.js"></script>
  <script src="../script/component.js"></script>-->
  <script type="text/javascript" src="http://localhost:8889/dist/common.js"></script>
  <script type="text/javascript" src="http://localhost:8889/dist/home.bundle.js"></script>
  <!--<script src="http://localhost:8889/webpack-dev-server.js"></script>-->
</body>

</html>