.silver {
  color: #777;
}
body .home .header {
  height: 50px;
  width: 80%;
  margin: auto;
}
body .home .header .menu {
  width: 200px;
  height: 50px;
  float: right;
  background-color: lightgreen;
}
body .home .header .title {
  width: 200px;
  height: 50px;
  float: left;
  background-color: skyblue;
}
body .home .header .title .logo {
  width: 50px;
  height: 100%;
}
body .home .header .title .describe {
  width: 150px;
  height: 100%;
  color: #777;
  font-size: 14pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
