@import '../../../less/global';
.menu{
  width: 400px;
  height: 50px;
  float: right;
  background-color: lightgreen;
  ul{
    li{
      float: left;
      margin-right: 20px;
      list-style-type: none;
      color: @silver;
    }
  }
}