.header {
  height: 70px;
  width: 100%;
  display: inline-flex;
}
.header .layout {
  width: 80%;
  height: 60px;
  margin: auto;
  border-bottom: 1px solid #e5e5e5;
}
.header .layout .menu {
  width: 400px;
  height: 50px;
  float: right;
}
.header .layout .menu ul {
  float: right;
  margin-top: 5px;
}
.header .layout .menu ul li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
  color: #337ab7;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
}
.header .layout .menu ul li:hover {
  background-color: #337ab7;
  color: white;
}
.header .layout .title {
  width: 200px;
  height: 50px;
  float: left;
}
.header .layout .title .logo {
  width: 120px;
  height: 100%;
  float: left;
}
.header .layout .title .name {
  width: 80px;
  height: 100%;
  color: #777;
  font-size: 14pt;
  float: left;
  line-height: 50px;
}
