.title {
  width: 200px;
  height: 50px;
  float: left;
}
.title .logo {
  width: 120px;
  height: 100%;
  float: left;
}
.title .name {
  width: 80px;
  height: 100%;
  color: #777;
  font-size: 14pt;
  float: left;
  line-height: 50px;
}
